body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 38px;
}

.game-board {
    width: 80vw;
    height: 80vh;
    background-color: skyblue;
    border: 2px solid blue;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.game-board > div {
    background-color: aliceblue;
    border: 2px solid blue;
    cursor: pointer;
    font-size: min(20vh, 20vw);
    display: flex;
    justify-content: center;
}